body {
	margin: 0;
	overflow-x: hidden;
}

/*FIRST PILLING*/

.pillingCover {
	width: 100vw;
	height: 100vh;
	background-image: url('../img/forest.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
}

.subject {
	width: 40%;
	height: 30%;
	margin-top: 30%;
	margin-left: 7%;
}

.job {
	font-size: 42px;
	font-weight: bold;
	color: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	float: right;
}

/*.name {
	font-size: 28px;
	color: #f5f5f5;
	font-family: 'Source Sans Pro', sans-serif;
	float: right;
	margin-top: 4%;
}*/

/*.name::before {
	content: "";
	background-color: #f5f5f5;
	width: 24%;
	height: 4px;
	position: absolute;
	left: 10.8%;
	top: 40%;
}

.name::after {
	content: "";
	background-color: #f5f5f5;
	width: 11%;
	height: 4px;
	position: absolute;
	left: 36%;
	top: 50%;
}*/

.slogan {
	width: 19%;
	height: 16%;
	color: #f5f5f5;
	font-size: 26px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 40px;
	margin-top: 55%;
	margin-left: 16%;
	background-color: black;
	opacity: 0.7;
	border: 2px solid #f5f5f5;
	border-radius: 2%;
	text-align: center;
	padding-top: 20px;
}

.slogan::before {
	content: "A";
	font-size: 26px;
	font-family: 'Eagle Lake', cursive;
	font-weight: bold;
}

/* FILTRE commun à plusieurs images du côté gauche*/

.projectFilter {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	position: absolute;
}

/* CLICKER PILLING 2 */

.pillingClicker {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftClicker {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/stars.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.projectTitleClicker {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.hexagonClicker { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonClicker:hover {
	/*opacity: 0.7;*/
	background-color: #3d719d;
} 

.hexagonClicker:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonClicker:hover::before {
	border-bottom: 12.5px solid #3d719d;
}

.hexagonClicker:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent;
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.hexagonClicker:hover::after {
	border-top: 12.5px solid #3d719d;
}

.projectSubtitleClicker {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 33%;
	position: absolute;
}

/*Clicker Page de droite*/
.rightClicker {
	width: 49%;
	height: 99%;
	margin-top: 1%;
	background-color: #93928b;
}

.githubClicker {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-clicker.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.githubClicker:hover {
	background-image: url('../img/github-clicker-hover.png');
}

.descriptionClicker {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 4%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #090909;
	
}

.descriptionClickerP::before {
	content: "C";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreClicker {
	width: 50%;
	height: 22%	;
	border: 0px;
	background-image: url('../img/prince.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	font-size: 17px;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}


/* POMODORO PILLING 3 */

.pillingPomodoro {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftPomodoro {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/time1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonPomodoro { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonPomodoro:hover {
	opacity: 0.8;
	background-color: #ded4c5;
} 

.hexagonPomodoro:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonPomodoro:hover::before {
	border-bottom: 12.5px solid #ded4c5;
}

.hexagonPomodoro:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.hexagonPomodoro:hover::after {
	border-top: 12.5px solid #ded4c5;
}

.projectTitlePomodoro {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitlePomodoro {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 43%;
	position: absolute;
}

/*Page de droite*/
.rightPomodoro {
	width: 49%;
	height: 99%;
	margin-top: 1%;
	background-color: #5e523e;
}

.githubPomodoro {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-pomodoro.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.githubPomodoro:hover {
	background-image: url('../img/github-pomodoro-hover.png');
}

.descriptionPomodoro {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #0c0b0b;
}

.descriptionPomodoroP::before {
	content: "A";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMorePomodoro {
	width: 50%;
	height: 22%	;
	border: 0px;
	background-image: url('../img/pomodoro.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}

/* MEMORY PILLING 4 */

.pillingMemory {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftMemory {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/cards.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonMemory { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonMemory:hover {
	background-color: #c49427;
} 

.hexagonMemory:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonMemory:hover::before {
	border-bottom: 12.5px solid #c49427;
}

.hexagonMemory:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.hexagonMemory:hover::after {
	border-top: 12.5px solid #c49427;
}

.projectTitleMemory {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleMemory {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 35%;
	position: absolute;
}

/*Page de droite*/
.rightMemory {
	width: 49%;
	height: 99%;
	margin-top: 1%;
	background-color: #ece9c1;
}

.githubMemory {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-memory.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.githubMemory:hover {
	background-image: url('../img/github-memory-hover.png');
}

.descriptionMemory {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #3e3428;
}

.descriptionMemoryP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreMemory {
	width: 50%;
	height: 22%	;
	border: 0px;
	background-image: url('../img/memory.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}


/* REMINDER PILLING 5 */

.pillingReminder {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftReminder {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/sticky.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonReminder { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonReminder:hover {
	/*opacity: 0.7;*/
	background-color: #f25c54;
} 

.hexagonReminder:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonReminder:hover::before {
	border-bottom: 12.5px solid #f25c54; 
}

.hexagonReminder:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.hexagonReminder:hover::after {
	border-top: 12.5px solid #f25c54; 
}

.projectTitleReminder {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleReminder {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 35%;
	position: absolute;
}

/*Page de droite*/
.rightReminder {
	width: 49%;
	height: 99%;
	background-color: #aea08e;
	margin-top: 1%;
}

.githubReminder {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-reminder.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.githubReminder:hover {
	background-image: url('../img/github-reminder-hover.png');
}

.descriptionReminder {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #2c3e50;
}

.descriptionReminderP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreReminder {
	width: 50%;
	height: 22%;
	border: 0px;
	background-image: url('../img/reminder.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}


/*SOLEDAD PILLING 6*/

.pillingSoledad {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftSoledad {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/model2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonSoledad { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonSoledad:hover {
	opacity: 0.7;
} 

.hexagonSoledad:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonSoledad:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.projectTitleSoledad {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleSoledad {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 44%;
	position: absolute;
}

/*Page de droite*/
.rightSoledad {
	width: 49%;
	height: 99%;
	background-color: #848383;
	margin-top: 1%;
}

.githubSoledad {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-soledad.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.githubSoledad:hover {
	background-image: url('../img/github-soledad-hover.png');
	background-color: #292929; 
	border-radius: 6px;
}

.descriptionSoledad {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #292929;
}

.descriptionSoledadP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreSoledad {
	width: 50%;
	height: 22%	;
	border: 0px;
	background-image: url('../img/soledad.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}



/*SCUBA COURSE PILLING 7*/

.pillingScuba {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftScuba {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/waves.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonScuba { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonScuba:hover {
	opacity: 0.8;
	background-color: #3d0f9e;
	color: #f5f5f5;
} 

.hexagonScuba:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonScuba:hover::before {
	border-bottom: 12.5px solid #3d0f9e;	
}

.hexagonScuba:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.hexagonScuba:hover::after {
	border-top: 12.5px solid #3d0f9e;	
}

.projectTitleScuba {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleScuba {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 37%;
	position: absolute;
}

/*Page de droite*/
.rightScuba {
	width: 49%;
	height: 99%;
	background-color: #f2f2f2;
	margin-top: 1%;
}

.githubScuba {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-scuba.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.githubScuba:hover {
	background-image: url('../img/github-scuba-hover.png');
}

.descriptionScuba {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #16132b;
}

.descriptionScubaP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreScuba {
	width: 50%;
	height: 22%	;
	border: 0px;
	background-image: url('../img/scubaCourse.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}


/*APEX PILLING 8*/

.pillingApex {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftApex {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/computer.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonApex { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonApex:hover {
	opacity: 0.7;
} 

.hexagonApex:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonApex:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.projectTitleApex {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleApex {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 34%;
	position: absolute;
}

/*Page de droite*/
.rightApex {
	width: 49%;
	height: 99%;
	background-color: #a9a9a2;
	margin-top: 1%;
}

.githubApex {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-sign.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.descriptionApex {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #2c3e50;
}

.descriptionApexP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreApex {
	width: 54%;
	height: 22%	;
	border: 0px;
	background-image: url('../img/apex2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}



/*SYRIA PILLING 9*/

.pillingSyria {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftSyria {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/barbed-wire2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonSyria { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonSyria:hover {
	opacity: 0.7;
} 

.hexagonSyria:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonSyria:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.projectTitleSyria {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleSyria {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 34%;
	position: absolute;
}

/*Page de droite*/
.rightSyria {
	width: 49%;
	height: 99%;
	background-color: #616767;
	margin-top: 1%;
}

.githubSyria {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-sign.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.descriptionSyria {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #2c3e50;
}

.descriptionSyriaP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreSyria {
	width: 54%;
	height: 22%	;
	border: 0px;
	background-image: url('../img/syria.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}


/*123 VETO PILLING 10*/

.pillingVeto {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftVeto {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/cat.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonVeto { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonVeto:hover {
	opacity: 0.7;
} 

.hexagonVeto:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonVeto:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.projectTitleVeto {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleVeto {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 41%;
	position: absolute;
}

/*Page de droite*/
.rightVeto {
	width: 49%;
	height: 99%;
	background-color: #596b5e;
	margin-top: 1%;
}

.githubVeto {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-sign.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.descriptionVeto {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #2c3e50;
}

.descriptionVetoP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreVeto {
	width: 50%;
	height: 22%	;
	border: 0px;
	background-image: url('../img/123veto.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 28%;
	margin-top: 4%;
	cursor: pointer;	
}


/*BUKOWSKI PILLING 11*/

.pillingBukowski {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftBukowski {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/bukowski.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonBukowski { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonBukowski:hover {
	opacity: 0.7;
} 

.hexagonBukowski:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonBukowski:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.projectTitleBukowski {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

/*.sixthProjectFilter {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	position: absolute;
}*/

.projectSubtitleBukowski {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 35%;
	position: absolute;
}

/*Page de droite*/
.rightBukowski {
	width: 49%;
	height: 99%;
	background-color: #828487;
	margin-top: 1%;
}

.githubBukowski {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-sign.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.descriptionBukowski {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #2c3e50;
}

.descriptionBukowskiP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreBukowski {
	width: 50%;
	height: 20%	;
	border: 0px;
	background-image: url('../img/bukowski.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 30%;
	margin-top: 4%;
	cursor: pointer;	
}


/*MERVEILLES PILLING 12*/

.pillingMerveilles {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftMerveilles {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/stone-age.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonMerveilles { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonMerveilles:hover {
	opacity: 0.7;
} 

.hexagonMerveilles:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonMerveilles:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.projectTitleMerveilles {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleMerveilles {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 37%;
	position: absolute;
}

/*Page de droite*/
.rightMerveilles {
	width: 49%;
	height: 99%;
	background-color: #fffaeb;
	margin-top: 1%;
}

.githubMerveilles {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-sign.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.descriptionMerveilles {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 7%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #2c3e50;
}

.descriptionMerveillesP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreMerveilles {
	width: 50%;
	height: 20%	;
	border: 0px;
	background-image: url('../img/merveilles.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 30%;
	margin-top: 4%;
	cursor: pointer;	
}



/*NEON PILLING 13*/

.pillingNeon {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}


/*Page de gauche*/
.leftNeon {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/bar.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonNeon { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonNeon:hover {
	opacity: 0.7;
} 

.hexagonNeon:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonNeon:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.projectTitleNeon {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

.projectSubtitleNeon {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 25%;
	position: absolute;
}

/*Page de droite*/
.rightNeon {
	width: 49%;
	height: 99%;
	background-color: #d38887;
	margin-top: 1%;
}

.githubNeon {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-sign.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.descriptionNeon {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #0c0c0d;
}

.descriptionNeonP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreNeon {
	width: 50%;
	height: 20%	;
	border: 0px;
	background-image: url('../img/neon.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 30%;
	margin-top: 4%;
	cursor: pointer;	
}



/*MASSIVELY PILLING 14*/

.pillingMassively {
	width: 100vw;
	height: 100vh;
	background-color: #f5f5f5;
	display: flex;
}

/*Page de gauche*/
.leftMassively {
	width: 49%;
	height: 99%;
	margin-right: 0.3%;
	margin-left: 0.4%;
	margin-top: 1%;
	background-image: url('../img/appareilPhoto.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.hexagonMassively { 
	width: 50px; 
	height: 25px; 
	background-color: #f5f5f5; 
	position: relative; 
	margin-top: 9%;
	margin-left: 6%;
	cursor: pointer;
	text-align: center;
	color: #2c3e50;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	padding-top: 3px;
}

.hexagonMassively:hover {
	background-color: #d2782c;
	color: #100e16;
} 

.hexagonMassively:before { 
	content: ""; 
	position: absolute; 
	top: -12px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-bottom: 12.5px solid #f5f5f5; 
} 

.hexagonMassively:hover::before {
	border-bottom: 12.5px solid #d2782c; 
}

.hexagonMassively:after { 
	content: ""; 
	position: absolute; 
	bottom: -12.5px; 
	left: 0; 
	width: 0; 
	height: 0; 
	border-left: 25px solid transparent; 
	border-right: 25px solid transparent; 
	border-top: 12.5px solid #f5f5f5; 
}

.hexagonMassively:hover::after {
	border-top: 12.5px solid #d2782c; 
}


.projectTitleMassively {
	width: 25%;
	height: 25%;
	background-color: transparent;
	border: 3px solid #f5f5f5;
	position: absolute;
	color: #f5f5f5;
	font-size: 21px;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-top: 20.5%;
	margin-left: 39.5%;
}

/*.sixthProjectFilter {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	position: absolute;
}*/

.projectSubtitleMassively {
	color: #f5f5f5;
	width: 60%;
    font-family: 'Poiret One', cursive;
	font-size: 26px;
	margin-top: 50%;
	margin-left: 35%;
	position: absolute;
}

/*Page de droite*/
.rightMassively {
	width: 49%;
	height: 99%;
	background-color: #534341;
	margin-top: 1%;
}

.githubMassively {
	width: 30px;
	height: 30px;
	border: 0px;
	background-image: url('../img/github-massively.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	margin-left: 47%;
	margin-top: 10%;
	cursor: pointer;
	display: flex;
}

.githubMassively:hover {
	background-image: url('../img/github-massively-hover.png');
}

.descriptionMassively {
	width: 62%;
	height: 75%;
	background-color: transparent;
	margin-top: 5%;
	margin-left: 20%;
	font-size: 18px;
	line-height: 28px;
	color: #100e16;
}

.descriptionMassivelyP::before {
	content: "L";
	font-size: 35px;
	font-weight: bold;
    font-family: 'Eagle Lake', cursive;
}

.viewMoreMassively {
	width: 50%;
	height: 20%	;
	border: 0px;
	background-image: url('../img/massively.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #2c3e50;
	font-size: 17px;
	margin-left: 30%;
	margin-top: 4%;
	cursor: pointer;	
}